<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">

	<!-- <groups> -->
	<!-- <run> -->
	<!-- <include name="Smoke Testing" /> -->
	<!-- </run> -->
	<!-- </groups> -->

		<classes>
			<class name="selenium.MavenSelProject.Main">
				<methods>
					<!-- <exclude name="Main2" /> -->
					<!-- <include name="Main2" /> -->
				</methods>

			</class>
			<class name="selenium.MavenSelProject.Test1" />
			<class name="selenium.MavenSelProject.TestTest" />
			<class name="selenium.MavenSelProject.MainTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
